.card__container {
    width: 28%;

    margin: 10px;
    min-width: 180px;
}

.card {
    border-radius: 10px 10px 0 0;



    background-color: rgba(77, 196, 196, 0.322);




}


.card_image {
    width: 60%;
    margin-top: 10px;
    border-radius: 50%;
}



.card_name {
    background-color: teal;
    min-width: 100%;
    border-radius: 10px;
    color: white;
    padding: 10px;
    margin: 0;
    border-radius: 0 0 10px 10px;
}