.search-bar__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 15em;
    
    background: url(/src/images/fondo-cabecera.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 20px;
}




.search-bar__title {
    margin: 0;
}

.search-bar__input {
    border: 0px;
    border-radius: 20px;
    padding: 8px 12px;
    margin-top: 10px;
    width: 320px;
    background-color: white !important;
}

.search-bar__title{
    font-size: 2rem;

}