.footer__container {
    background-color: black;
    height: 10%;
  
    padding: 30px;
    padding-bottom: 10px !important;
}

.row1{
    display: flex;
    justify-content: space-between;
}

.footer__logo img{
    color: white;
    height: 80%;
    width: 20%;
}

.icono{
    margin-left: 20px;
    color: white;
   
}


.footer__item{
    display: flex;
    color: white;
    justify-content:right;
    margin-top: 15px;

}

.row2{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.footer__item2{

   
    display: flex;
    color: white;
    

}

