.ContainerFilter{
    text-align: center ;
    margin-bottom: 10px;

}
.ButtonFilter{
    background: none;
    color: white;
    margin-right: 9px;
    font-size: 1rem;
    
}

.ButtonFilter:focus{
    
    /* text-decoration: underline; */
    border-bottom: 2px solid white;
}